
element {
}
._5p3y[dir="ltr"], ._5p3y[dir="ltr"] button, ._5p3y[dir="ltr"] input, ._5p3y[dir="ltr"] label, ._5p3y[dir="ltr"] select, ._5p3y[dir="ltr"] td, ._5p3y[dir="ltr"] textarea, ._5p3y[dir="ltr"] .uiMentionsInput .highlighter, ._5p3y[dir="ltr"] .uiButtonText, ._5p3y[dir="ltr"] .uiButton input, ._5p3y[dir="ltr"] .uiLinkButton input, ._5p3y[dir="ltr"] button.as_link, ._5p3y[dir="ltr"] .fbChatSidebar, ._5p3y[dir="ltr"] .fbDock, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, ._5p3y[dir="ltr"] .uiTooltipX .tooltipContent, ._5p3y[dir="ltr"] a[role="button"], ._5p3y[dir="rtl"] [dir="ltr"] {
    font-family: helvetica,arial,sans-serif;
}
._5p3y, ._5p3y button, ._5p3y input, ._5p3y label, ._5p3y select, ._5p3y td, ._5p3y textarea, ._5p3y .uiMentionsInput .highlighter, ._5p3y .uiButtonText, ._5p3y .uiButton input, ._5p3y .uiLinkButton input, ._5p3y button.as_link {
    font-size: 12px;
}
._3ma {
    font-family: "Freight Sans Bold","Helvetica Neue","Segoe UI","Malgun Gothic",Meiryo,"Microsoft JhengHei",helvetica,arial,sans-serif !important;
    font-weight: bold !important;
    text-rendering: optimizelegibility;
}
.mvm {
    margin-top: 10px;
    margin-bottom: 10px;
}
._58mi {
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}
._6v {
    font-weight: bold;
}
._6o {
    font-size: 19px;
    line-height: 126%;
}
._6wl {
    background: #69A74E linear-gradient(#67AE55, #578843) repeat scroll 0% 0%;
    box-shadow: 0px 1px 1px #A4E388 inset;
    border-color: #3B6E22 #3B6E22 #2C5115;
}
._6wk {
    padding: 20px 30px;
}
._6j {
    border: 1px solid;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
button {
    margin: 0px;
}
body, button, input, label, select, td, textarea {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}
._5p3y {
    line-height: 1.34;
}
.body_textalign {
    text-align: left;
}
body {
    color: #141823;
    line-height: 1.28;
    direction: ltr;
}
